<p style="color: green"><%= notice %></p>

<% content_for :title, "Lists" %>

<h1>My To Do Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Edit To Do", list %>
    </p>
  <% end %>
</div>

<%= link_to "New To Do", new_list_path %>
